* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
  :root{
    --primary-color:#f9fbff;
    --secondry-color:#212121;
  }
  .dark-theme{
    --primary-color:#212121;
    --secondry-color:#edf1fd;
  }
  body {
    height: 100vh;
    width: 100vw;
    background-color:var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  li {
    list-style: none;
    cursor: pointer;
  }

  #icon{
    width: 30px;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    background-color: rgb(18, 155, 155);
    padding: 4px 10px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 700;
    width: fit-content;
  }
  
  button:hover {
    background-color: white;
    color: rgb(18, 155, 155);
    border: 1px solid black;
  }
  
  header {
    padding: 15px 0;
  }
  nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
  
  nav .logo {
    font-weight: 700;
    font-size: 25px;
    color: var(--secondry-color);
  }
  
  nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 500;
  }
  
  nav ul li:hover {
    text-decoration: underline;
    font-weight: 900;
  }
  
  .search-field {
    display: flex;
    gap: 30px;
  }
  
  input {
    padding: 4px 10px;
  }
  
  .hero-section {
    display: flex;
    align-items: center;
  }
  
  .hero-left-section {
    width: 60%;
    padding: 0 8%;
  }
  .hero-left-section h1{
    color: var(--secondry-color) ;
  }
.hero-left-section p{
  color: var(--secondry-color);
}
  .hero-left-section h1 {
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 16px;
  }
  .hero-left-section h1 span {
    color: rgb(18, 155, 155);
    font-weight: 900;
    background-color:var(--primary-color);
    padding: 0 15px;
  }
  
  .hero-left-section p {
    font-weight: 500;
    font-size: 30px;
  }
  
  .hero-left-section p span {
    font-size: 25px;
    font-weight: 700;
    color: rgb(18, 155, 155);
  }
  
  .hero-right-section {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .hero-right-section-btn {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .hero-right-section img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
  }
  
  footer {
    font-weight: 600;
    display: flex;
    padding: 20px 0;
    justify-content: space-around;
  }
  
  footer ul {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  footer p{
    color:var(--secondry-color);
  }
  



  
@media  (max-width: 768px) {
    /* Styles for smaller screens */

body{
 background-color: var(--primary-color);
}
  .hero-section {
      display: grid;
      align-items: center;
      overflow: auto;
      margin: 10px;
      padding: auto;
    }
  nav{
    display:flex ;
    flex-direction: column;
  }
header {
  height: 45%;
}
  .logo{
    justify-self: start;
  }
  .search-field{
    flex-direction: column;
  }
 
  .hero-left-section {
    height: 80vh;
    width: 80vw;
    padding: 0 8%;
    
  }
  .hero-right-section{
    height: 100vh;
    width: 100vw;
  }
  footer{
    display: block;
    block-size: auto;
    flex-direction: column-reverse;
    padding: 20px 0;
  }
.search-field {
    display: flex;
    flex-direction: row;
  }
  
  }
 